body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #e0ebe8;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  width: 50%;
  padding: 0;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  color: teal;
}

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 100vh;
  background: #e0ebe8
}

#welcome {
  margin-bottom: 80px;
}

#welcome h1 {
  margin: 4px auto;
}

#position {
  color: green;
}

#projects {
  padding: 50px 0;
}

#projects h2 {
  color: teal;
}

#project-tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-tile {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px 30px;
}

.project-image {
  width: 280px;
  height: 180px;
  border: solid 2px lightblue;
}

.project-title {
  padding: 4px;
  color: teal;
  border: solid 2px lightblue;
  border-top: none;
}

#contact {
  height: 800px;
  background-color: #c8f7c5;
}

#lets-work {
  padding-top: 140px;
  padding-bottom: 100px;
}

#lets-work h1 {
  margin: 4px auto;
}

#profiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#profiles a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0ebe8;
  color: teal;
  margin: 40px 30px;
  width: 100px;
  height: 100px;
  border: solid 2px #90c695;
  border-radius: 50%;
}

footer {
  padding: 10px;
  background-color: #22313f;
}

footer p {
  color: white;
}

@media (max-width: 100px) {
  body {

  }
}